<div class="row col-md-12 col-sm-12 col-xs-12 " id="dvOtherOptions">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  OptionsDiv form-group">
            <div class="col-md-12  col-sm-12 col-xs-12 form-group">
                <label>Other options</label>
            </div>
            <!-- <div class="col-md-12  col-sm-12 col-xs-12 row form-group">
                    <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                        <button type="button" id="btnAddNewContact" class="btn btn-success btn-width" (click)="onAddNewContactClick()">Add New Contact</button>

                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                        <button type="button" id="btnSearchDatabase" class="btn btn-success btn-width" (click)="onSearchDatabaseClick()">Search Database</button>

                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 form-group">
                        <button type="button" id="btnCancel" class="btn btn-danger btn-width" (click)="onCancelClick()">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div> -->
            <div class="col-md-12 row" style="padding-right: 0px;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group" (click)="onAddNewContactClick()">
                    <div class="dashboard-stat tile-color1">
                        <div class="visual handle">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="details" style="position: static;">
                            <div class="desc"> Add New Contact
                                <br class="hidden-xs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group" (click)="onSearchDatabaseClick()">
                    <div class="dashboard-stat tile-color2">
                        <div class="visual handle">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="details" style="position: static;">
                            <div class="desc">Search Database
                                <br class="hidden-xs">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group" (click)="onCancelClick()">
                    <div class="dashboard-stat tile-color3">
                        <div class="visual handle">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="details" style="position: static;">
                            <div class="desc"> Dashboard
                                <br class="hidden-xs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>