
.AlwaysActive > a {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #dddddd !important;
    border-bottom-color: transparent !important;
}

.bold {
    font-weight: bold;
}

.ZeroPadding {
    padding: 0px;
}

.MyTable {
}

    .MyTable > .tblHeader {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: large;
    }

    .MyTable .ZeroPadding {
        padding: 0px;
        height: 30px;
    }

    .MyTable > .MyTblCont > .tblRowSeparator:last-child {
        display: none !important;
    }

    .MyTable > .MyTblCont > .tblRowSeparator {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        margin-bottom: 10px;
    }

    
    .myborder{
        /* border-bottom: 1px solid gray; */
        border-radius: 0px !important;
    }

    .padLeft{
        padding-left: 0 !important;
    }
    /* div.mycontainer > div:nth-of-type(odd) {
    background: #e0e0e0;
    } */

    /* .displayBorder{
        border-bottom: 2px solid #ccc;
        border-radius: 0px !important;
    } */

    .mycontainer {
        cursor: pointer;
    }

    @media (min-width: 300px) and (max-width: 700px) {
        .displayBorder{
        border-bottom: 2px solid #ccc;
        border-radius: 0px !important;
        }
    }