<div class="page-container">
    <div class="page-content backwallpaper">
        <div class="col-md-12">
            <div class="row">
                <div class="portletHeaderTitle backcolor1" style="margin-bottom: -1px;width: 100%;" (click)="collapse()">
                    <div class="Title col-md-12 col-sm-12 col-xs-12">
                        <a>
                            <span class="fa fa-info-circle" style="float: right;margin-right: 2%;" [ngClass]="{ 'fa-chevron-up': isClicked, 'fa-chevron-down': !isClicked  }"></span>
                        </a>
                        <span class="fa fa-search" aria-hidden="true"></span>
                        <label>CRM Enquiry Search</label>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="portletHeaderTitle-body bordercolor1" style="width: 100%;" [style.display]="divClass">
                    <!-- <form class="form-horizontal form-row-sepe" id="FrmSearch"> -->
                    <div class="form-body">
                        <div class="form-group row">
                            <label class="control-label col-md-1 col-sm-1 col-xs-3"> Contact Ref</label>
                            <div class="col-md-3 col-sm-3 col-xs-7">
                                <input type="text" id="txtContactRef" [(ngModel)]="objContact.ContactRef" class="form-control" />
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-3"> Company</label>
                            <div class="col-md-3 col-sm-3 col-xs-7">
                                <input type="text" id="txtCompany" [(ngModel)]="objContact.Company" class="form-control" />
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-3">Address</label>
                            <div class="col-md-3 col-sm-3 col-xs-7">
                                <input type="text" id="txtAddress" [(ngModel)]="objContact.Address1" class="form-control" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-1 col-sm-1 col-xs-3">PostCode</label>
                            <div class="col-md-3 col-sm-3 col-xs-7">
                                <input type="text" id="txtPostCode" [(ngModel)]="objContact.PostCode" class="form-control" />
                            </div>

                            <label class="control-label col-md-1 col-sm-1 col-xs-3">Telephone</label>
                            <div class="col-md-3 col-sm-3 col-xs-7">
                                <input type="text" id="txtTel" [(ngModel)]="objContact.Tel" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="pull-right" style="float:right">
                                    <button type="button" (click)="onSearchClick()" class="btn btn-success">Search</button>
                                    <button type="button" (click)="onCancelClick()" class="btn btn-inverse">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
            <br />
            <div class="row">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portletHeaderTitle backcolor2" style="margin-bottom: -1px;">
                    <div class="Title">
                        <span class="fa fa-list-alt" aria-hidden="true"></span>
                        <label>Contact List</label>
                        <label id="lblPageNo" class="display-none">(Showing 1 - 8 of 20 records)</label>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="portletHeaderTitle-body bordercolor2" style="">
                    <div class="clearfix"></div>
                    <!-- <div class="col-md-12 remove_leftpadding">
                        <label id="lblPageNo">Showing 1 - 8 of 20 records</label>
                    </div> -->
                    <div class="clearfix"></div>
                    <div id="SearchResult_1_container">
                        <div class="MyTable  form-horizontal">
                            <div style="    border-bottom: 1px solid grey;
                            margin-bottom: 10px;border-radius:0px !important">
                                <div class="row hidden-xs tblHeader" style="    font-weight: bold;">
                                    <div class="col-md-3 form-group myborder">
                                        <div class="form-group">
                                            Company
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group myborder">
                                        <div class="form-group">
                                            Contact Ref
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group myborder">
                                        <div class="form-group">
                                            Address
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group myborder">
                                        <div class="form-group">
                                            Post Code
                                        </div>
                                    </div>
                                    <div class="col-md-2 form-group myborder">
                                        <div class="form-group">
                                            Telephone
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="MyTblCont">
                                <div style="    border-bottom: 1px solid grey;
                                        margin-bottom: 10px;border-radius:0px !important" *ngFor="let contact of listContacts"
                                    (click)="onRowClick(contact.ContactID)">
                                    <div class="row mycontainer displayBorder">
                                        <div class="col-md-3 col-sm-6 col-lg-3 form-group myborder padLeft">
                                            <div class="form-group">
                                                <div class="visible-xs visible-sm  col-xs-12 col-sm-12 tblCont">
                                                    <h3 style="margin-top:0px;">{{contact.Company}}</h3>
                                                </div>
                                                <div class="hidden-xs hidden-sm  col-md-12 tblCont">
                                                    {{contact.Company}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-2 form-group myborder padLeft">
                                            <div class="form-group">
                                                <div class="col-xs-6 col-md-12 visible-xs bold">
                                                    contact Ref </div>
                                                <div class="col-xs-6 col-md-12 visible-xs">
                                                    {{contact.ContactRef}} </div>
                                                <div class="col-xs-6 col-md-12 hidden-xs tblCont ">
                                                    {{contact.ContactRef}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-3 form-group myborder padLeft ">
                                            <div class="form-group">
                                                <div class="col-xs-6 col-md-12 visible-xs bold">
                                                    Address </div>
                                                <div class="col-xs-6 col-md-12 tblCont ">
                                                    {{contact.Address1}} {{contact.Address2}} {{contact.Address3}} {{contact.Town}} {{contact.County}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-2 form-group myborder padLeft">
                                            <div class="form-group">
                                                <div class="col-xs-6 col-md-12 visible-xs bold">
                                                    Post Code</div>
                                                <div class="col-xs-6 col-md-12 tblCont ">
                                                    {{contact.PostCode}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-2 form-group myborder padLeft">
                                            <div class="form-group">
                                                <div class="col-xs-6 col-md-12 visible-xs bold">
                                                    Telephone </div>
                                                <div class="col-xs-6 col-md-12 tblCont ">
                                                    {{contact.Tel}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tblRowSeparator col-xs-12" style="border-bottom: 1px solid gray; border-radius: 0px !important; "></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>