<div class="form-group col-md-12  col-sm-12 col-xs-12 row">
    <div class="form-group col-md-2 col-sm-4 col-xs-12">
        Select Company :
    </div>
    <div class="form-group col-md-6  col-sm-4 col-xs-12">
        <select id="ddlSelectCompany" class="form-control" [(ngModel)]="selectedContact" (change)="onChange($event.target.value)">
            <option value="0" selected>-- Select --</option>
            <option *ngFor="let contact of listContacts" [value]="contact.ContactID">{{contact.Company}} ({{contact.ContactRef}})</option>
        </select>
    </div>
</div>