<style>
    @media (min-width: 300px) and (max-width: 900px) {
        .menu-width {
            width: auto;
        }
    }
</style>
<div>

    <diV class="col-md-12 col-sm-12 col-sm-12" style="background-color: #4472c4;margin-bottom:1%;    box-shadow: 0px 0px 18px 3px #a8a9ad;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;">
        <!-- <div style="float:left; height:100%; padding-top: 1%;">
            <label class="control-label whiteLabel lblMainMenu">Main Menu</label>
        </div> -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4472c4; padding: 0px;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img src="./assets/Images/OneFitDevelopmentLogo.png" class="hidden-xs" style="height: 50px;    margin-right: 1%;" />
                <!-- <label class="control-label whiteLabel visible-xs lblMainMenu">Main Menu</label> -->
                <div style="text-align: right;" class="visible-xs">
                    <img src="./assets/Images/OneFitDevelopmentLogo.png" />
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" style="width: 100%;">
                        <li class="nav-item dropdown menu-width" *ngFor="let menu of filterItemsOfType(0)" (click)="onMenuClick(menu.Description)">
                            <a class="nav-link whiteLabel" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menu.Description}}</a>
                            <div class="dropdown-menu menu" aria-labelledby="navbarDropdown" style="background-color: #4472c4;border-radius: 0px !important;">
                                <a class="dropdown-item submenu" *ngFor="let subMenu of filterItemsOfType(menu.MenuKey)"  (click)="onSubMenuClick(subMenu)">{{subMenu.Description}}</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="nav-link hidden-xs" href="#/homePage" style="color:white">
                    <i class="fa fa-home" style="font-size: 28px; padding-top: 10px;"></i>
                </a>
                <a class="navbar-toggle hidden-xs" data-target=".navbar-collapse" data-toggle="collapse" href="javascript:;">
                    <!-- <img alt="" src="assets/Images/menu-toggler.png"> -->
                </a>
                <ul class=" header nav navbar-nav pull-right hidden-xs" style="float:right">
                    <li class="dropdown user open">
                        <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="javascript:void(0)"
                            aria-expanded="true" style="    color: white;">
                            <i class="fa fa-user-circle-o fontcolor2" style="font-size: 28px; padding-top: 10px;"></i>
                            <span class="username fontcolor2" style="font-size:large">Rheal </span>
                            <i class="fa fa-angle-down fontcolor2"></i>
                        </a>
                        <ul class="dropdown-menu" style="border: 1px solid #212121 !important;     box-shadow: 0px 0px 18px 3px #a8a9ad;">
                            <li>
                                <a class="fontcolor1" ng-reflect-router-link="/Advisor" href="#/Advisor">
                                    <i class="fa fa-id-card"></i>&nbsp; My Profile</a>
                            </li>
                            <li>
                                <a class="fontcolor1" ng-reflect-router-link="/Login" (click)="onMenuClick('Log Off')">
                                    <i class="fa fa-power-off"></i> &nbsp;Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </diV>
    <div class="NoteDiv-body">
        <router-outlet></router-outlet>
    </div>
</div>