<div class="col-md-12 col-sm-12 col-xs-12 col-container" style="padding: 20px 0px 0px 0px;">
    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;padding-left: 0px;">

        <div class="portletHeaderTitle backcolor1" style="margin-bottom: -1px;background-color: #4b8df8;">
            <div class="Title">
                <span aria-hidden="true" class="fa fa-group"></span> People
            </div>
            <div class="tools">
                <a *ngIf="IsDisplay" (click)="onViewMorePeopleClick()">
                    <i aria-hidden="true" class="fa fa-search-plus"></i>View More</a>
                &nbsp;
                <a *ngIf="!IsDisplay" id="btnAddContactPeople" (click)="onAddContactPeopleClick()">
                    <i aria-hidden="true" class="fa fa-plus"></i>People</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portletHeaderTitle-body bordercolor1" style="min-height: 200px;">
            <form class="form-horizontal form-row-sepe ng-untouched ng-pristine ng-valid" id="" novalidate="">

                <div class="form-body">
                    <div class="form-group row col-md-12 col-sm-12 col-xs-12" style="padding-right:0px">
                        <div style="overflow-x:auto" class="scrollbar" id="style-2">

                            <!--<fieldset class="customLegend col" style="margin-top: 0px;">
                            <legend>People</legend>
                            <div class="legend2" *ngIf="IsDisplay">
                                <a (click)="onViewMorePeopleClick()">view more</a>
                            </div>-->
                            <!--<div class="col-md-12 col-sm-12 col-xs-12 form-group" style="overflow-x:auto;padding-left: 0px;padding-right: 0px;">-->
                            <table class="TFtable force-overflow" *ngIf="listContactPeople.length> 0">
                                <tr>
                                    <th style="width: 28%">First Name</th>
                                    <th style="width: 25%">Surname</th>
                                    <th style="width: 30%">Email</th>
                                    <th style="width: 17%" *ngIf="!IsDisplay">Actions</th>
                                </tr>
                                <tr *ngFor="let contactPeople of listContactPeople">
                                    <td>
                                        <label id="lblForename{{contactPeople.RecordID}}">{{contactPeople.Forename}}</label>
                                        <input type="text" id="txtForename{{contactPeople.RecordID}}" name="txtForename{{contactPeople.RecordID}}" [(ngModel)]="contactPeople.Forename"
                                            class=" form-control display-none" />
                                    </td>
                                    <td>
                                        <label id="lblSurname{{contactPeople.RecordID}}">{{contactPeople.Surname}}</label>
                                        <input type="text" id="txtSurname{{contactPeople.RecordID}}" name="txtSurname{{contactPeople.RecordID}}" [(ngModel)]="contactPeople.Surname"
                                            class=" form-control display-none" />
                                    </td>
                                    <td>
                                        <span id="spnEmail{{contactPeople.RecordID}}" *ngIf="contactPeople.DontEmail=='True'">{{contactPeople.Email}}</span>
                                        <a id="aEmail{{contactPeople.RecordID}}" href="mailto:{{contactPeople.Email}}" *ngIf="contactPeople.DontEmail=='False'">{{contactPeople.Email}}</a>
                                        <input type="text" id="txtEmail{{contactPeople.RecordID}}" name="txtEmail{{contactPeople.RecordID}}" [(ngModel)]="contactPeople.Email"
                                            class=" form-control display-none" />
                                    </td>
                                    <td *ngIf="!IsDisplay" style="text-align: center;">
                                        <div class="btn-group col-md-12" dropdown>
                                            <button id="button-basic-action{{contactPeople.RecordID}}" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                                aria-controls="dropdown-basic-action">

                                                <span class="caret fa fa-reorder"></span>
                                            </button>
                                            <ul id="dropdown-basic-action" *dropdownMenu class="dropdown-menu leftaligned" role="menu" aria-labelledby="button-basic-action"
                                                style="">
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="onActionChange('QuickEdit',contactPeople.RecordID)">Quick Edit</a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="onActionChange('Edit',contactPeople.RecordID)">Edit</a>
                                                </li>
                                                <li role="menuitem">
                                                    <a class="dropdown-item" (click)="onActionChange('Delete',contactPeople.RecordID)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" id="btnSave{{contactPeople.RecordID}}" (click)="onQuickSaveClick(contactPeople.RecordID)" style="cursor: pointer;"
                                            class="display-none col-lg-5 col-md-12 form-group">Save</button>
                                        <button type="button" id="btnCacel{{contactPeople.RecordID}}" (click)="onQuickCancelClick(contactPeople.RecordID)" style="cursor: pointer;"
                                            class="display-none col-lg-6 col-md-12 form-group">Cancel</button>
                                        <!-- <a style="    font-weight: bold;">  <i aria-hidden="true" class="fa fa-edit"></i>Edit</a>
                                        <a style="    font-weight: bold;">  <i aria-hidden="true" class="fa fa-times"></i>Delete</a>
                                        <a style="    font-weight: bold;">  <i aria-hidden="true" class="fa fa-pencil"></i>Quick Edit</a> -->

                                        <!-- <button type="button" id="btnEdit" (click)="onEditClick(contactPeople.RecordID)" style="cursor: pointer;"> <i aria-hidden="true" class="fa fa-edit"></i>Edit</button>
                                        <button type="button" id="btnEdit" (click)="onDeleteClick(contactPeople.RecordID)" style="cursor: pointer;"> <i aria-hidden="true" class="fa fa-times"></i>Delete</button>
                                        <button type="button" id="btnQuickEdit{{contactPeople.RecordID}}" (click)="onQuickEditClick(contactPeople.RecordID)" style="cursor: pointer;"><i aria-hidden="true" class="fa fa-pencil"></i>Quick Edit</button>
                                        <button type="button" id="btnQuickSave{{contactPeople.RecordID}}" (click)="onQuickSaveClick(contactPeople.RecordID)" style="cursor: pointer;"
                                            class="display-none">Quick Save</button> -->
                                    </td>
                                </tr>
                            </table>
                            <!--</div>-->
                            <!--<div class="col-md-12 col-sm-12 col-xs-12 form-group" *ngIf="!IsDisplay">
                                <button type="button" id="btnAddContactPeople" class="btn btn-success" style="float: right;" (click)="onAddContactPeopleClick()">Add Contact People</button>
                            </div>-->
                            <!--</fieldset>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>