<div class="modalPopupProgressBar" *ngIf="isVisible">
  <mat-spinner></mat-spinner>
</div>
<div class="page-container">
  <div class="page-content backwallpaper">
    <div class="note-orange ">
      <label class="control-label fontcolor1" id="lblParameter" style="font-weight: 700; font-size: 20px;">Orders</label>
      <hr>
      <div class="page-body">
        <!-- <div class=" col-md-12 col-xs-12 col-sm-12"> -->
        <div class="row form-group">
          <div class="col-md-2"></div>
          <div class=" col-md-10 col-xs-12 col-sm-12">
            <!-- Route -->
            <!-- <div > -->
            <label>Route:</label>
            <label><b>{{RouteName}}</b></label>
            <button type="button" class="btn btn-css" style="margin-right:60px" id="btnChange" (click)="onChangeClick()">Change</button>
            <!-- </div> -->
            <!-- date -->
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="Due date" [(ngModel)]='value'>
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button type="button" class="btn btn-css" style="margin-right:60px" id="btnGo" (click)="onGoClick(value)">Go</button>

            <!-- Rest buttons -->
            <button type="button" class="btn btn-css" id="btnRefresh" (click)="onRefreshClick()">Refresh</button>
            <button type="button" class="btn btn-css" id="btnPickList" (click)="openDialog()">Picking List</button>
            <button type="button" class="btn btn-css" id="btnPick" (click)="onPickClick()" *ngIf="isPicking">Pick</button>
            <button type="button" class="btn btn-css" id="btnPicked" *ngIf="isPicked">Customer Label</button>
          </div>

        </div>
        <!-- </div> -->

        <div>
          <!-- <div class="col-md-3"></div> -->
          <!-- <div class="col-md-4">               -->
          <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="For Printing"> 
              <!-- //Tab 1 -->

              <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="CustomerName" matSortStart="asc" matSortDisableClear (matSortChange)="sortData($event,PageNumber,PageSize)">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="CustomerName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> CustomerName </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.CustomerName}} </mat-cell>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="OrderNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> OrderNumber </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.OrderNumber}} </mat-cell>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="RouteCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> RouteCode </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.RouteCode}} </mat-cell>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="DropCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> DropCode </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.DropCode}} </mat-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[5,10,15,20,25]" showFirstLastButtons [length]="RowCount" [pageSize]="pageSizeMasterResult"
              
              (page)="MasterResultPageEvent=$event;PageNumber=MasterResultPageEvent.pageIndex+1;PageSize=MasterResultPageEvent.pageSize;LoadData()"></mat-paginator>

            </mat-tab>
            <mat-tab label="For Picking">
                <div *ngIf="isPick"><br>
                <button type="button" class="btn btn-css" style="margin-left:8px">Customer Label</button>
                <button type="button" class="btn btn-css">Set All</button>
                <button type="button" class="btn btn-css">Edit</button>
                <br><br></div>
                Content 2
            </mat-tab>
            <mat-tab label="Fully Picked"> Content 3 </mat-tab>
          </mat-tab-group>
          <!-- </div> -->
        </div>
        <!-- </div> -->

        <div *ngIf="isPick" class="row col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
          <div class="col-md-12 col-sm-12 col-xs-12" style="padding-right: 0px;">
            <div class="pull-right" style="float:right">
              <button type="button" class="btn btn-success btn-saveCancel" (click)="onDoneClick()">Done</button>
              <button type="button" class="btn btn-inverse btn-saveCancel" (click)="onCancelClick()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>