<div>
<div class="col-md-12 col-sm-12 col-xs-12" id="dvCRMDetails">
    <!-- <ngb-tabset id="tab" type="pills" orientation="vertical" class="row"> -->
    <ngb-tabset id="AccountTabs">
        <ngb-tab id="tabCRMEnquiryDetails" title="Details">
            <!-- <ng-template ngbTabTitle>
                <span>Details</span>
            </ng-template> -->
            <ng-template ngbTabContent>
                <details [ContactId]="selectedContact" (notifyAboutDetail)="onDetailNotify($event)"></details>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tabCRMEnquiryMoreInfo" title="More Information">
            <ng-template ngbTabContent>More Information</ng-template>
        </ngb-tab>
        <ngb-tab id="tabCRMEnquiryPeople" title="People">
            <ng-template ngbTabContent>
                <crm-enquiry-people [IsDisplay]="false" [ContactId]="selectedContact" (notifyToCRMEnquiry)="onPeopleNotify($event)"></crm-enquiry-people>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tabCRMEnquiryActivity" title="Activity">
            <ng-template ngbTabContent>Activity</ng-template>
        </ngb-tab>
        <ngb-tab id="tabCRMEnquiryMemo" title="Memo">
            <ng-template ngbTabContent>Memo</ng-template>
        </ngb-tab>
        <ngb-tab id="tabCRMEnquiryOpportunities" title="Opportunities">
            <ng-template ngbTabContent>Opportunities</ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
</div>