<div class="page-container">
    <div class="page-content backwallpaper">
        <div class="note-orange ">
            <label class="control-label fontcolor1" style="font-weight: 700; font-size: 20px;"> View Contact Record</label>

            <hr>
            <div class="page-body">
                <!-- <div class="row col-md-12 display-none" id="dvCancelButton">
                    <div class="col-md-12">
                        <button class="btn btn-danger" id="btnCancel" type="button" style="float: right;" (click)="onCancelClick()">Cancel</button>
                    </div>
                </div> -->
                <div class="form-group col-md-12  col-sm-12 col-xs-12 row">
                    <div class="form-group col-md-2 col-sm-4 col-xs-12">
                        Select Company :
                    </div>
                    <div class="form-group col-md-6  col-sm-4 col-xs-12">
                        <!-- <select id="ddlSelectCompany" class="form-control" [(ngModel)]="selectedContact" (change)="onChange($event.target.value)">
                            <option value="0" selected>-- Select --</option>
                            <option *ngFor="let contact of listContacts" [value]="contact.ContactID">{{contact.Company}} ({{contact.ContactRef}})</option>
                        </select> -->

                        <ng-select class="customselect" *ngIf="listContacts.length > 0" [(ngModel)]="selectedContact" (change)="onChange()">
                            <!--<ng-option [value]="0">Select</ng-option>-->
                            <ng-option *ngFor="let contact of listContacts" [value]="contact.ContactID">{{contact.Company}} ({{contact.ContactRef}})</ng-option>

                        </ng-select>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 col-xs-12 " id="dvOtherOptions">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  OptionsDiv form-group">
                            <div class="col-md-12  col-sm-12 col-xs-12 form-group">
                                <label>Other options</label>
                            </div>
                            <div class="col-md-12 row" style="padding-right: 0px;">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group" (click)="onAddNewContactClick()">
                                    <div class="dashboard-stat tile-color1">
                                        <div class="visual handle">
                                            <i class="fa fa-user-plus"></i>
                                        </div>
                                        <div class="details" style="position: static;">
                                            <div class="desc"> Add New Contact
                                                <br class="hidden-xs">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group" (click)="onSearchDatabaseClick()">
                                    <div class="dashboard-stat tile-color2">
                                        <div class="visual handle">
                                            <i class="fa fa-search"></i>
                                        </div>
                                        <div class="details" style="position: static;">
                                            <div class="desc">Search Database
                                                <br class="hidden-xs">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 form-group" (click)="onCancelClick()">
                                    <div class="dashboard-stat tile-color3">
                                        <div class="visual handle">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <div class="details" style="position: static;">
                                            <div class="desc"> Dashboard
                                                <br class="hidden-xs">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 display-none" id="dvCRMDetails">
                    <!-- <ngb-tabset id="tab" type="pills" orientation="vertical" class="row"> -->
                    <div class="btn-group visible-xs" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"
                            style="    min-width: 180px;
                                                max-width: 180px;">
                            {{tabName}}
                            <span class="caret fa fa-info-circle fa-chevron-down" style="float:  right;"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="onTabChange('tabCRMEnquiryDetails','Details')">Details</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="onTabChange('tabCRMEnquiryMoreInfo','More Information')">More Information</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="onTabChange('tabCRMEnquiryPeople','People')">People</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="onTabChange('tabCRMEnquiryActivity','Activity')">Activity</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="onTabChange('tabCRMEnquiryMemo','Memo')">Memo</a>
                            </li>
                            <li role="menuitem">
                                <a class="dropdown-item" (click)="onTabChange('tabCRMEnquiryOpportunities','Opportunities')">Opportunities</a>
                            </li>
                        </ul>
                    </div>
                    <ngb-tabset id="AccountTabs" #AccountTabs>
                        <ngb-tab id="tabCRMEnquiryDetails">
                            <ng-template ngbTabTitle>
                                <span>Details</span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <crm-enquiry-details [ContactId]="selectedContact" (notifyAboutDetail)="onDetailNotify($event)"></crm-enquiry-details>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tabCRMEnquiryMoreInfo" title="More Information">
                            <ng-template ngbTabContent>More Information</ng-template>
                        </ngb-tab>
                        <ngb-tab id="tabCRMEnquiryPeople" title="People">
                            <ng-template ngbTabContent>
                                <crm-enquiry-people [IsDisplay]="false" [ContactId]="selectedContact" (notifyToCRMEnquiry)="onPeopleNotify($event)"></crm-enquiry-people>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="tabCRMEnquiryActivity" title="Activity">
                            <ng-template ngbTabContent>Activity</ng-template>
                        </ngb-tab>
                        <ngb-tab id="tabCRMEnquiryMemo" title="Memo">
                            <ng-template ngbTabContent>Memo</ng-template>
                        </ngb-tab>
                        <ngb-tab id="tabCRMEnquiryOpportunities" title="Opportunities">
                            <ng-template ngbTabContent>Opportunities</ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>