<div class="page-container">
    <div class="page-content backwallpaper">
        <div class="note-orange ">
            <label class="control-label fontcolor1" id="lblParameter" style="font-weight: 700; font-size: 20px;">Filter
                Selection</label>
            <hr>
            <div class="row page-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row form-group">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <input matInput type="text" id="txtContactRef" [(ngModel)]="routeCode" placeholder="Route"
                                class="form-control" />
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12" class="btnClass">
                            <button type="button" class="btn btn-success" id="btnCancel" (click)="onCancelClick()">Clear</button>
                            <button type="button" class="btn btn-inverse" id="btnSave" (click)="onSaveClick()">Okay</button>

                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-10 col-sm-12 col-xs-12">
                            <mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-bordered table-hover table-striped">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                <!-- Position Column -->
                                <ng-container matColumnDef="Route">
                                    <mat-header-cell *matHeaderCellDef> Route </mat-header-cell>
                                    <mat-cell *matCellDef="let element"  style="cursor:pointer">
                                        <a class="anchr" matTooltip="Edit Route" [matTooltipPosition]="'above'" (click)="goToOrderForPrinting(element)">{{element.RouteCode}} </a>
                                        
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Description">
                                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.Description}} </mat-cell>
                                </ng-container>

                                <!-- <ng-container matColumnDef="Despatch">
                                    <mat-header-cell *matHeaderCellDef> Despatch </mat-header-cell>
                                    <mat-cell *matCellDef="let element" [ngClass]="element.Despatch === true ? 'red' : 'green'">
                                        {{element.Despatch}} </mat-cell>
                                </ng-container> -->

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>