.red{

    background-color: red;
    color: red
}

.green{

    background-color: green;
    color: green
}
.anchr{
    color: #007bff !important;
}
.anchr:hover{
    text-decoration: underline !important;
}

@media (max-width: 768px) {
    .btnClass{

        padding-top: 20px;
    }
}
