<div class="page-container">
    <div class="page-content backwallpaper">
        <div class="note-orange ">
                <label class="control-label fontcolor1" style="font-weight: 700; font-size: 20px;"> Dashboard</label>
                <hr>
                <div class="row col-md-12 col-sm-12 col-xs-12 page-body">
                <div class="col-md-7 col-sm-12 col-sm-12">
                    <div class="frameDiv form-group">
                        Frame reserved for future use
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-sm-12">
                    <div class="frameDiv form-group">
                        Frame reserved for future use
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>