
<div class="login" style="height:750px">
    <div class="logo">
        <h3>
            OneFit Application Name
        </h3>
    </div>
    <!-- END LOGO 
        <!-- BEGIN LOGIN -->
    <div class="content">

        <div class="" id="FormLogin">
            <!-- <div [ngBusy]="busy"></div> -->
            <h3 class="form-title">Login</h3>

            <div class="form-group">
                <label class="control-label">UserId</label>

                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input type="text" class="form-control placeholder-no-fix" id="txtUserName" [(ngModel)]="objUser.UserName" placeholder="UserName"
                        (keyup.enter)="validateLogin()" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>

                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <!-- <input type="password" class="form-control placeholder-no-fix" id="txtPassword" [(ngModel)]="objUser.Password" placeholder="Password"
                        (keyup.enter)="validateLogin()" /> -->
                        <input type="password" class="form-control placeholder-no-fix" id="txtPassword" [(ngModel)]="objUser.Password" placeholder="Password"
                         />
                </div>
            </div>

        </div>
        <br />
        <div class="form-group">
            <div class="validation-summary-errors" style="color:red">
                <span>{{ValidationMessage}}</span>
            </div>
        </div>
        <hr />
        <div class="form-title">
            <button type="button" class="btn btn-success" (click)="Login();">
                Login
                <i class="fa fa-sign-in"></i>
            </button>
            <button type="reset" class="btn btn-theme " id="Reset" (click)="ResetLogin();">
                Reset
                <i class="fa fa-refresh"></i>
            </button>
            <a class="label-font" style="cursor:pointer" (click)="open('ForgotPwd')">Forgotten Password?</a>
        </div>
    </div>

</div>